/* =IDX Content
------------------------------------------------------------ */
#IDX-main {
	width: 100% !important;
	font-family: inherit !important;
}

#IDX-main select[multiple] {
	height: auto;
	background-image: none;
}

#IDX-main .IDX-radio-inline {
	margin-right: 5px;
}

#IDX-main .recaptcha_input_area,
#IDX-main .recaptchatable #recaptcha_response_field {
	height: auto;
	display: table-caption;
}

#IDX-main .IDX-nav {
	margin-left: 0rem;
}

.home-lead .leaflet-container a,
.idx-content .IDX-wrapper-standard a {
	color: $primary-color;
}
.IDX-wrapper-standard .IDX-btn,
.IDX-wrapper-standard .IDX-btn-default,
.IDX-wrapper-standard .IDX-btn-default,
.IDX-wrapper-standard .IDX-btn-primary,
.IDX-wrapper-standard .IDX-panel-primary>.IDX-panel-heading,
.IDX-wrapper-standard .IDX-navbar-default,
.IDX-wrapper-standard .IDX-navigation,
.IDX-wrapper-standard #IDX-mapHeader-Search,
.IDX-wrapper-standard .IDX-nav-pills>li.IDX-active>a,
.IDX-wrapper-standard .IDX-nav-pills>li.IDX-active>a:focus,
.IDX-wrapper-standard .IDX-nav-pills>li.IDX-active>a:hover {
	background-color: $primary-color;
}
.IDX-wrapper-standard .IDX-btn:hover,
.IDX-wrapper-standard .IDX-btn-default:hover,
.IDX-wrapper-standard .IDX-btn-default:hover,
.IDX-wrapper-standard .IDX-btn-primary:hover,
.IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav>.IDX-active>a,
.IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav>.IDX-active>a:focus,
.IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav>.IDX-active>a:hover,
.IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav>li>a:focus,
.IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav>li>a:hover,
.IDX-wrapper-standard .IDX-searchNavItem a:hover {
	background-color: scale-color($button-bg-color, $lightness: $button-function-factor);
}
.idx-content .IDX-wrapper-standard .IDX-panel-primary,
.idx-content .IDX-wrapper-standard .IDX-panel-primary>.IDX-panel-heading,
.idx-content .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-collapse,
.idx-content .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-form,
.idx-content .IDX-wrapper-standard .IDX-navbar-default {
	border-color: $primary-color;
}
.idx-content .IDX-open>.IDX-wrapper-standard .IDX-btn-default.IDX-dropdown-toggle {
	background: none;
	border: 0;
}
.idx-content .IDX-wrapper-standard .IDX-detailsPhotosWrap a.IDX-arrow,
.idx-content .IDX-wrapper-standard .IDX-searchNavItem a,
.idx-content .IDX-wrapper-standard a.IDX-btn,
.idx-content .IDX-wrapper-standard a.IDX-btn-default,
.idx-content .IDX-wrapper-standard a.IDX-btn-primary,
.idx-content .IDX-wrapper-standard .IDX-navbar-default .IDX-navbar-nav>li>a,
.idx-content .IDX-wrapper-standard #IDX-mapSearchFields a,
.idx-content .IDX-wrapper-standard .IDX-nav-pills>li.IDX-active>a,
.idx-content .IDX-wrapper-standard #IDX-newSearch,
.idx-content .IDX-wrapper-standard #IDX-saveProperty,
.idx-content .IDX-wrapper-standard .IDX-removeProperty,
.idx-content .IDX-wrapper-standard #IDX-saveSearch,
.idx-content .IDX-wrapper-standard #IDX-modifySearch,
.idx-content .IDX-wrapper-standard #IDX-submitBtn,
.idx-content .IDX-wrapper-standard #IDX-refineSearchFormToggle,
.idx-content .IDX-wrapper-standard #IDX-mapHeader-Search {
	color: #fff;
}
.idx-content .IDX-wrapper-standard #IDX-formReset,
.idx-content .IDX-wrapper-standard #IDX-resetBtn,
.idx-content .IDX-wrapper-standard #IDX-formReset-bottom,
.idx-content .IDX-wrapper-standard #IDX-previousPage #IDX-returnToPreviousPage {
	color: $body-font-color;
	border: none;
	background: #ddd;
}
.idx-content .IDX-searchNavItem a,
.idx-content .IDX-searchNavItem span {
	font-family: $paragraph-font-family;
}
#IDX-main.IDX-wrapper-standard #IDX-detailsTopActions .IDX-btn,
#IDX-main.IDX-wrapper-standard #IDX-detailsHotActions .IDX-btn {
	font-size: 0.8rem;
	padding: 0.7rem 1.2rem;
}
.idx-content .IDX-wrapper-standard .IDX-pagination-action a.IDX-btn  {
	padding: 0.25rem;
}
#IDX-mapSearchFields a.IDX-btn,
#IDX-mapSearchFields a.IDX-btn:hover,
#IDX-mapSearchFields a.IDX-btn:focus {
	background: none !important;
    padding: 0.45rem;
}